# ログ・キャッシュ・設定ファイル
*.log
.DS_Store
.phpactor.json
.phpunit.result.cache
.phpunit.cache
npm-debug.log
yarn-error.log
Thumbs.db

# DB
/data_only_dump.sql
/skills.sql
/skills_backup.sql

# IDE・エディタ関連
/.fleet
/.idea
/.vscode
/.zed
/.nova

# 環境ファイル（セキュリティ保護）
.env
.env.backup
.env.production
/.env.*
/.env.*

# Laravel固有ファイル・ディレクトリ
/storage/*.key
/storage/pail
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/auth.json
Homestead.json
Homestead.yaml